# Dependencies
node_modules/
jspm_packages/
web_modules/

# Local Environment Secret Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build Production Outputs
dist/
build/
out/

# Debug and System Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# IDE / Editor Configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Operating System Files
.DS_Store
Thumbs.db